.header-container {
    background-color: rgb(223, 235, 253);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(22, 21, 21);
    width: 100%;
}

.navbar-a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 50px;
}

.navbar a {
    color: rgb(247, 240, 240);
    text-decoration: none;
    font-weight: 600;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

.navbar a:hover,
.nav-bar a:active {
    color: orange;
}

.title p {
    margin: 1px 50px 0 0;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    font-weight: 500;
}

.title span {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: orange;
}

.navbar-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}

.navbar-text p {
    color: aliceblue;
    font-weight: 500;
    font-size: 18px;
    padding-top: 20px;
    font-family: "Dancing Script", cursive;
}

.header-pic {
    height: 90vh;
    width: 100%;
    background-image: url('../head.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.pic-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pic-text p {
    color: aliceblue;
    font-size: 60px;
    font-weight: 700;
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    animation: slideIn 2s;
    letter-spacing: 5px;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.pic-text button {
    background-color: rgb(148, 71, 20);
    color: rgb(247, 247, 247);
    border: 2px solid rgb(231, 231, 231);
    border-radius: 40px;
    padding: 8px 20px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 3px;
}

.pic-text button:hover {
    background-color: transparent;
    color: aliceblue;
    transition: background-color 0.2s ease-in-out;
}

@media (max-width: 700px) {
    .header-pic {
        width: 100%;
        height: 270px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        gap: 10px;
        overflow: hidden;
    }

    .navbar-a {
        padding: 0;
        margin: 10px 0 0 0;
    }

    .navbar-a a {
        font-size: 16px;
    }

    .title p {
        margin: 0;
    }

    .title span {
        font-size: 30px;
    }

    .navbar-text {
        display: none;
    }

    .pic-text p {
        font-size: 28px;
        letter-spacing: 1px;
        text-align: center
    }

    .pic-text button {
        padding: 5px 10px;
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 0px;
    }
}